.vscode/
.DS_Store
Icon?
![iI]con[_a-zA-Z0-9]
__pycache__
tempCodeRunnerFile.*
.vscode/
__pycache__/
*.pyc
.venv/
venv/
env/
ENV/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud


